@keyframes slidein {
    from {
       transform: translateY(-10%);
    }
    to {
        transform: translateY(20%);
    }
}

@keyframes scroll_block {
    from {
       opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes slidein2 {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes goright {
    0% {
        left: 0;
    }
    50% {
        left: 30px;
        border-radius: 5px;
        background: #38BFF2;
    }
    100% {
        left: 0px;
    }
}

@keyframes buybuy {
    0% {
        transform-origin: 50% 0%;
        transform: scale(0) rotate(-360deg) translateY(50%); /* Вращение на 360 градусов */
    }

    50% {
        transform: scale(1) rotate(360deg) translateY(50%); /* Вращение на 360 градусов */
    }
}

@keyframes large-picture {
    0% {
        opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

.button {
    animation-name: goright;
    animation-duration: 2s;
    position: relative;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('fonts/gilroy/gilroy-bold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy/gilroy-thin.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('fonts/gilroy/gilroy-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

.open {
    display: block;
}
body {
    background: #FFFFFF;
    width: 100%;
    font-family: Gilroy;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    width: 1400px;
    padding: 0 120px;
    margin: auto;
    box-sizing: border-box;
  
}

.wrapper-ellips {
    position: absolute;
    width: 1400px;
    top: -700px;
    left: 600px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    z-index:-1;
}

.flex-box {
    display: flex;
    align-items: center;
}

.toggle-button {
    display: none;
}

.logo-container {
    height: 31px;
    width: 128px;
    margin-right: 73px;
}
 /************ modal and backdrop *************/
.backdrop {
    display: none;
    position: fixed;
    z-index: 90;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}
/**********Начало теста************/
.modal {
    display: none;
    background-color: white;
    border-radius: 30px;
    height: 345px;
    width: 740px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -370px;
    text-align: center;
    z-index: 300;
    font-weight: bold;
    padding: 1rem;
}
.openmodal {
    display: block;
}
/**********Модальное окно Вопрос 1************/
.modal__question-one {
    display: none;
    padding: 36px 28px 50px 34px;
    background-color: white;
    border-radius: 30px;
    height: 345px;
    width: 740px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -370px;
    text-align: center;
    z-index: 300;
    font-weight: bold;
    box-sizing: border-box;
    text-align: left;
}

.modal__answer-button {
    width: 132px;
    height: 49px;
    border-radius: 82px;
    background: #F15525;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 16px 22px;
    font-size: 0,94rem;
    transition: 0.05s;
    margin-bottom: 160px;
    margin: auto;
    text-align: center;
    position: absolute;
    right: 28px;
    bottom: 50px;
    cursor: pointer;
}

.modal__exercise {
    width: 129px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 49px;
    font-family: Gilroy;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 21px 7px 23px;
    box-sizing: border-box;
    margin: 0;
}
.modal__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 26px;
    text-align: center;
    color: #22253B;
    padding: 55px 110px 0 110px;
    margin: 0;
}

.modal__text {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 20px;
    text-align: center;
    color: #22253B;
    padding: 0 110px;
    margin-bottom: 20px;
}

.modal__question-option {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 24px;
    align-items: center;
    color: #22253B;
}

.modal__button {
    width: 197px;
    height: 70px;
    border-radius: 82px;
    background: #F15525;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 23px 30px 26px 33px;
    font-size: 1.25rem;
    transition: 0.05s;
    margin-bottom: 160px;
    margin: auto;
    cursor: pointer;
}

input {
    width: 22px;
    height: 22px;
    background: orange;
    color: red;
    border: 6px solid black; /*почему ты не работаешь, м?*/
}

/********** Ответ на вопрос ************/
.modal__answer {
    display: none;
    padding: 36px 28px 50px 34px;
    background-color: white;
    border-radius: 30px;
    height: 448px;
    width: 740px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -370px;
    text-align: center;
    z-index: 300;
    font-weight: bold;
    box-sizing: border-box;
    text-align: left;
}

.modal__answer-title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 26px;
    text-align: left;
    color: #22253B;
    padding: 30px 0;
    margin: 0;
}

.modal__answer-text {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 20px;
    text-align: left;
    color: #22253B;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

/****** Результат теста *******/

.modal__result {
    display: none;
    background-color: white;
    border-radius: 30px;
    height: 345px;
    width: 740px;
    position: fixed;
    top: 20%;
    left: 50%;
    text-align: center;
    z-index: 300;
    font-weight: bold;
    padding: 1rem;
    margin-left:-370px ;
    box-sizing: border-box;
}

.modal__result-text {
    font-family: 'Gilroy';
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
    color: #22253B;
    padding: 0 100px;
    margin-bottom: 30px;
}

.modal__result-button {
    width: 258px;
    height: 49px;
    border-radius: 82px;
    background: #F15525;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 16px 22px;
    font-size: 0.9375rem;
    transition: 0.05s;
    margin-bottom: 160px;
    margin: auto;
    text-align: center;
    right: 28px;
    bottom: 50px;
    cursor: pointer;
}

.modal__result-like {
    font-family: Gilroy;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #22253B;
}

.modal__result-like-button {
    width: 152px;
    height: 78px;
    background: #EAEAEA;
    border-radius: 49px;
    box-sizing: border-box;
    padding: 16px 21px 13px 23px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 17px;
    cursor: pointer;
}

/************** ellipse *************/
.ell27 {
    display: block;
    width: 2673.71px;
    height: 2673.71px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 130px 70px 243px -91px rgba(0, 0, 0, 0.07);
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 1000px 1000px rgba(100, 129, 170, 0.2);
    border-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
}

.ell28 {
    display: block;
    width: 2173.71px;
    height: 2173.71px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 130px 70px 243px -91px rgba(0, 0, 0, 0.05);
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    border-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 250px;
}

.ell29 {
    display: block;
    width: 1705px;
    height: 1705px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 130px 70px 243px -91px rgba(0, 0, 0, 0.05);
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    border-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 234.355px;
    
}
.ell30 {
    display: block;
    box-sizing: border-box;
    width: 1236.18px;
    height: 1236.18px;
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff;
    margin: auto;
    margin-top: 234.41px;
}
.ell31 {
    display: block;
    box-sizing: border-box;
    width: 907.6px;
    height: 907.6px;
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 164.29px
}
.ell32 {
    display: block;
    box-sizing: border-box;
    width: 627.1px;
    height: 627.1px;
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    border-radius: 50%;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 140.25px
}

.ell33 {
    display: block;
    box-sizing: border-box;
    width: 399.38px;
    height: 399.38px;
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    border: 2px solid;
    border-color: #fff;
    margin: auto;
    margin-top: 113.86px
}
.ell34 {
    display: none;
    box-sizing: border-box;
    width: 200.38px;
    height: 200.38px;
    background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
    box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    border: 2px solid;
    border-color: #fff;
    margin: auto;
    margin-top: 113.86px
}

.code {
    width: 390.8948974609375px;
    height: 408.1533508300781px;
    border: 1px;
    animation-name: large-picture;
    animation-duration: 3s;
}

/*********** header **********/
.main-header {
    border-radius: 20px;
    position: relative;
    justify-content: center;
    text-align: center;  
}
.main-nav {
    display: flex;
    position: relative;
    z-index: 80;
    align-items: center;
    background-color: rgba(255, 255, 255, 90%);
    width: 1160px;
    height: 51px;
    top: 12px;
    border-radius: 75px;
    box-sizing: border-box;
    margin: auto;
}

#reg {
    margin-left:210px;
}

.main-nav__items {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    list-style: none;
    display: inline-block;
    padding: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    font-family: Gilroy;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 14px;
    color: #22253B;
    text-align: center;
}

.main-nav__item a:hover {
    cursor: pointer;
    color: #F15525;
}

.mobile-nav {
    display: none;
}
h1 {
    width: 60%;
    margin-top: 70px;
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    color: #22253B;
    /*text-align: left;*/
    font-family: Gilroy;
}

.h1-subtitle {
    width: 367.22px;
    height: 46px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    color: #22253B;
    margin-top: 31px;
    margin-bottom: 18.47px;
    padding-top: 14.53px;
    border-top: 1px solid #DEDEDE;
}

em {
    font-family: Gilroy-bold;
}

.button {
    width: 321px;
    height: 70px;
    border-radius: 82px;
    background: #F15525;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 23px 40px 28px 46px;
    font-size: 1.25rem;
    margin-bottom: 160px;
    cursor: pointer;
    top: 0px;
    position: relative;
    transition-duration: 0.5s;
    transition-property: all;
}

.button:hover {
    background: #38BFF2;
    top: 5px;
    transition-duration: 0.5s;
    transition-property: all;
}

.button-login {
    width: 78px;
    height: 31px;
    top: 22px;
    border-radius: 34px;
    border: 1px;
    background: #38BFF2;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 9px 5px 8px 5px;
    font-size: 1.25rem;
    transition: 0.2s;
    cursor: pointer;
    font-size: 12px;
}

.button-login:hover {
    transition: 0.2s;
    background: #F15525;
}

#login {
    color: white;
}

.logo-container a {
    cursor: pointer;
}

.arrow {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
    animation-name: slidein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow::after {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
    animation-name: slidein2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#href {
    height: 55px;
    width: 50px;
}

.youmakemecry-container {
    position: relative;
}

.main {
    position: relative;
}
.main .wrapper::before {
    content: "";
    position: absolute;
    height: 55px;
    width: calc(50% - 580px);
    bottom: -25px;
    left: 0;
    z-index: 6;
    background: #fff;
}

.main .wrapper::after {
    content: "";
    position: absolute;
    height: 55px;
    width: calc(50% - 570px);
    bottom: -23px;
    right: 0;
    z-index: 6;
    background: #fff;
}

.youmakemecry {
    /*    background: url('images/youmakemecry.svg') no-repeat top;*/
    background: transparent url(images/youmakemecry.svg) 50% no-repeat;
    height: 50px;
    position: absolute;
    z-index: 50;
    width: 100%;
    top: -32px;
}

.white1 {
    background: #fff;
    height: 50px;
    width: 18%;
    /* position: absolute;
    top: -35px; */
}

.white2 {
    background: #fff;
    height: 50px;
    width: 18%;
    /* position: absolute; */
    /* top: -35px;
    right: 0; */
}

.back {
    background: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
    width: 32px;
    height: 32px;
}

/********** technologies *************/

.technologies {
    background: white;
    border-radius: 30px;
    position: relative;
  
}

h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #22253B;
    padding-top: 57px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.technologies img {
    margin-right: 59px;
}

.minimum {
    display: flex;
    background: #EAF2F5;
    border-radius: 48px;
    padding-top: 45px;
    padding-left: 122px;
    align-content: flex-start;
    margin-bottom: -28px;
    /*animation-name: scroll_block;
    animation-duration: 2s;*/
    transform: translate(0px, 120px);
    transition: all 0.8s ease 0s;
    opacity: 0;
}



#pyton,
#nets,
#database,
#framework,
#test,
#docker,
#git {
    border-radius: 44px;
    box-sizing: border-box;
    color: #fff;
    padding: 12px 20px 12px 20.3px;
    font-size: 1.0625rem;
    margin: 5px;
    height: 45.11px;
}

#pyton {
    background: #5096FF;
}

.technologies__min {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 200px;
    width: 550px;
    margin-top: 33px;
}

#nets {
    background: #FFB359;
}

#database {
    background: #FF6F50;
}

#framework {
    background: #4BD071;
}

#test {
    background: #50C0FF;
}

#docker {
    background: #4B77B9;
}

#git {
    background: #AF93FF;
    padding-left: 30px;
    padding-right: 30px;
}

.technologies__description {
    font-style: normal;
    font-family: Gilroy; 
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 25px;
    color: #22253B;
    width: 400px;
    margin-top: 25px;
    margin-left: 5px;
}

.technologies h2 {
    text-align: center;
}

.advantage__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    opacity: 0;
    transform: translate(0px, 120px);
    transition: all 0.8s ease 0s;
}

.advantage__item {
    width: 270px;
    height: 254px;
    background: #EAF2F5;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 31px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 26px;
    margin-bottom: 27px;
}

.advantage__container div:nth-child(4) {
    margin-right: 0;
}

.advantage__item img {
    margin: 0;
}

.advantage__title {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 1rem;
    line-height: 18px;
    text-align: center;
    color: #22253B;
    margin-top: 19px;
    margin-bottom: 10px;
}

.advantage__description {
    width: 200px;
    height: 49px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 15px;
    text-align: center;
    color: #22253B;
    margin: 0;
}


/*******ellipse-center*******/

.ellipse-center {
    position: absolute;
    z-index: -100;
    left: -635px;
    top: -640px;
}

/************* how-learning ***************/

.how-learning h2 {
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 26px;
}

.how-learning__discription {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    color: #22253B;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.how-learning__video-frame {
    width: 583.76px;
    height: 367.92px;
    background: rgba(25, 26, 38, 0.76);
    border-radius: 17px;
    margin: auto;
    margin-top: 25px;
}

.how-learning__video-container {
    width: 622.35px;
    height: 438.16px;
    background: linear-gradient(180deg, #FFFFFF 88.02%, #F8F8F8 100%);
    border: 2px solid #F3F3F3;
    border-radius: 17px;
    margin: auto;
}

#play {
    position: absolute;
    top:300px;
    left: 630px;
    cursor: pointer;
}

iframe {
    width: 583.76px;
    height: 367.92px;
    background: rgba(25, 26, 38, 0.76);
    border-radius: 17px;
    margin: auto;
}

.line {
    width: 761.55px;
    height: 4.96px;
    margin: auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), #FFFFFF;
    background-blend-mode: multiply, normal;
    box-shadow: inset 0px 1.53255px 0px rgba(0, 0, 0, 0.02);
    position: relative;
}

.line-bottom {
    width: 762.26px;
    height: 15.59px;
    background: linear-gradient(151.66deg, #F9F9F9 17.52%, rgba(232, 232, 232, 0) 124.27%), linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(234, 234, 234, 0.07) 100%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(234, 234, 234, 0.07) 100%, rgba(255, 255, 255, 0.07) 100%), #FFFFFF;
    background-blend-mode: normal, multiply, multiply, multiply, multiply, normal;
    margin: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-bottom: 30px;
}

#shape {
    background: #FFFFFF;
    box-shadow: inset 0px 1.53255px 0px rgba(0, 250, 0, 0.03);
    width: 146.64px;
    height: 6.73px;
    left: 307px;
    right: 307px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
#shapeleft {
    width: 15.23px;
    height: 6.73px;
    background: linear-gradient(90deg, #000000 0%, #FFFFFF 100%, #FFFFFF 100%);
    mix-blend-mode: multiply;
    opacity: 0.07;
}

#shaperight {
    width: 14.88px;
    height: 6.73px;
    background: linear-gradient(270deg, #000000 0%, #FFFFFF 100%, #FFFFFF 100%);
    mix-blend-mode: multiply;
    opacity: 0.07;
}

#shadow {
    position: absolute;
    left: 318px;
    width: 763px;
    height: 386px;
    background: rgba(25, 26, 38, 0.38);
    filter: blur(87px);
    margin: auto;
    z-index: -1;
}

.how-learning .wrapper {
    position: relative;
}

.how-learning__steps {
    background: #fff;
    border-radius: 40px;
    height: 349px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 26px;
    transform: translate(0px, 120px);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.how-learning__step {
    width: 340px;
    padding-left: 53px;
    padding-right: 55px;
    margin-bottom: 50px;
}

.how-learning b {
    font-family: Gilroy-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8125rem;
    color: #38BFF2;
}

.how-learning__step-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: #22253B;
}

.how-learning__step-description {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    color: #22253B;
}

#step-two {
    border-left: 1px solid #EAF2F5;
    border-right: 1px solid #EAF2F5;
}

#step-three {
    padding-right: 35px;
    width: 380px;
}

.button-start {
    width: 249px;
    height: 70px;
    border-radius: 82px;
    background: #F15525;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 25px 40px 28px 46px;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.button-start:hover {
    background: #38BFF2;
    transition: 0.2s;
}

.how-learning__start-container {
    display: flex;
    width: 538px;
    height: 93px;
    border-radius: 130px;
    background: #fff;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 14px;
    box-sizing: border-box;
    margin-bottom: 90px;
}

.how-learning__start-text {
    width: 214px;
    height: 54px;
    font-family: Gilroy;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    margin-left: 24px;
}

.how-learning__help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    background: #fff;
}

.how-learning__item {
    width: 401px;
    height: 313px;
    background: #EAF2F5;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 31px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 27px;
}

.how-learning__title {
    width: 576px;
    height: 37px;
    font-family: Gilroy-bold;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    color: #22253B;
    text-align: left;
    margin: 0;
    margin-bottom: 18px;
}

.how-learning__description {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    text-align: left;
    color: #22253B;
    margin: 0;
    margin-bottom: 15px;
}

.block {
    width: 730px;
}

.how-learning__help div:nth-child(2) {
    margin-left: 29px;
    padding-top: 54px;
    padding-left: 100px;
    padding-right: 80px;
}

.how-learning__help div:nth-child(4) {
    margin-right: 29px;
    padding-top: 54px;
    padding-left: 100px;
    padding-right: 80px;
    margin-bottom: 0;
}

.how-learning__help div:nth-child(3) {
    margin-bottom: 0;
    order: 1;
}

/************ price *************/
.price {
    background-color: rgba(125, 135, 254, 0.09);
}

.price h2 {
    padding-top: 90px;
    margin: 0;
    margin-bottom: 35px;
}

.price__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.how-learning-help {
    background: #fff;
    border-radius: 30px;
    padding-top: 91px;
    padding-bottom: 9px;
    transform: translate(0px, 120px);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.price__image-description {
    height: 63px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: #22253B;
    padding: 0 27px 0 29px;
}

.price__container div:nth-child(2) {
    width: 276px;
}

.price__container div:nth-child(1) {
    width: 419px;
}

.price__container div:nth-child(3) {
    width: 404px;
}

.price__table {
    background: #fff;
    border-radius: 30px;
    padding: 38px 42px 15px 42px;
}

/********Table*********/

.table {
    background: #fff;
    border-radius: 30px;
}

.table__row {
    display:flex;
}

.table__col {
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.table__title {
    font-family: Gilroy-bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 25px;
    color: #38BFF2;
}

.table__line {
    background: #F3F3F3;
    border-radius: 10px;
}

.table__total {
    font-family: Gilroy-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 25px;
    color: #22253B;
    padding-top: 15px;
    padding-bottom: 0px; 
}

.table__column-first {
    width: 430px;
}

.table__column-second {
    width: 300px;
}

.table__postscript {
    font-size: 1rem;
    line-height: 25px;
    color: #8E8E8E;
    margin: 25px 30px 33px 39px;
}

.price__warning {
    display: flex;
    background: #EAF2F5;
    width: 1160px; 
    height: 218px;
    border-radius: 30px;
    align-items: center;
    padding: 64px 54px;
    box-sizing: border-box;
}

.price__warning-text {
    width: 600px;
    height: 88px;
    font-size: 1.0625rem;
    color: #22253B;
    margin: 0 30px;
    line-height: 22px;
    letter-spacing: 0em;
}

.price__warning .button-start {
    width: 311px;
    font-size: 1.25rem;
    padding-left: 55px;
    cursor: pointer;
    animation-name: buybuy;
    animation-duration: 1s;
    transition: all 550ms ease-in-out; /* Анимация. Для всех элементов, время - 550ms, начинается и заканчивается медленно */
}

/********footer********/
footer {
    background-color: rgba(125, 135, 254, 0.09);
    padding-top: 63px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

.logo__description {
    font-size: 1rem;
    line-height: 19px;
    color: #8E8E8E;
    padding-left: 18px;
    width: 160px;
}

footer img {
    margin-right: 16px;
    margin-top: 43px;
}

#logo {
    margin-top: 0;
}

.flex-vertical {
    flex-direction: column;
}

.footer__list {
    margin-left: 300px;
}

.footer__list,
.footer__contacts-list {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.footer__list-item {
    font-size: 0.8125rem;
    line-height: 104.4%;
    padding-bottom: 25px;
}

.footer__list-item a,
.footer__contacts-list-item a{
    text-decoration: none;
    color: #22253B;
}

.footer__list-item a:hover {
    color: #F15525;
}

#tel {
    color: #38BFF2;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__contacts-list {
    margin-bottom: 65px;
    margin-left: 166px;
}

.footer__subscribe {
    font-size: 0.8125rem;
    line-height: 23px;
    color: #8E8E8E;
    margin: 4px;
}

.footer__footer {
    display: flex;
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 1rem;
    line-height: 23px;
    color: #8E8E8E;
}

.footer__footer p:nth-child(1) {
    margin-right: 350px;
}
.footer__footer p:nth-child(2) {
    margin-right: 64px;
}
.subscribe a {
    text-decoration: none;
    color: #F15525;
}

.subscribe a:hover {
    color: #38BFF2
}
.option {
    border: 8px solid;
    border-radius: 2px;
}

.activeee {
    transform: translate(0px,0px);
    opacity: 1;
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    .wrapper {
        width: 80%;
        overflow: hidden;
    }
    .main {
        background-size: cover;
    }
    .main-header {
        width: 100%;
    }
    .how-learning-help {
        width: 100%;
    }
    .price__warning {
        width: 100%;
    }
    .price__warning-text {
        width: 300px;
    }
}

/* @media screen and (max-width: 1199px) {
    .wrapper {
        width: 1080px;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        width: 960px;
    }
} */

@media screen and (max-width: 575px) {
    body {
        text-align: center;
        overflow-x: hidden;
    }

    .wrapper {
        /* text-align: center; */
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }
    .main {
        background-size: cover;
        text-align: center;
    }
    .main-header {
        width: 294px;
        margin: auto;
    }
    .main-nav {
        width: 294px;
        align-content: start;
        box-sizing: border-box;
    }
    .main-nav__items {
        display: none;
    }
    .main-nav img {
        margin-top: 5px;
    }
    h1 {
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 15px;
        padding: 0;
        font-family: Gilroy;
        font-size: 1.5rem;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }
    .h1-subtitle {
        width: 100%;
        height: 100%;
        padding-top: 15px;
    }
    .button {
        width: 299px;
        height: 70px;
        font-size: 1.125rem;
        line-height: 17px;
        letter-spacing: -0.03em;
        text-align: center;
        margin-bottom: 300px;
        cursor: pointer;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        font-family: 'Gilroy-SemiBold';
    }
    .minimum img {
        display: none;
    }
    .minimum {
        padding: 17px;
        display: block;
        width: 300px;
        height: 301px;
        box-sizing: border-box;
        border-radius: 30px;
    }
    .technologies__min {
        width: 300px;
        height: 301px;
        display: flex;
        align-content: flex-start;
    }
    #pyton,
    #nets,
    #database,
    #framework,
    #test,
    #docker,
    #git {
        padding: 0px 14px 10px 14px;
        font-size: 0.875rem;
        margin: 4px 0;
        height: 45px;
        vertical-align: middle;
        box-sizing: border-box;
    }
    #pyton {
        width: 267px;
        margin-top: 0;
    }
    #nets {
        width: 99px;
        margin-right: 8px;
    }
    #database {
        width: 160px;
    }
    #framework {
        width: 267px;
    }
    #test {
        width: 267px;
    }
    #docker {
        width: 129px;
        margin-right: 8px;
    }
    #git {
        width: 129px;
    }
    .technologies__description {
        display: none;
    }
    .technologies__min {
        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: center;
    }
    .advantage__container {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    .advantage__item {
        width: 145px;
        height: 175px;
        margin: 0;
        margin-bottom: 10px;
        padding: 24px 7px;
        border-radius: 20px;
    }
    .advantage__container :nth-child(1),
    .advantage__container :nth-child(3),
    .advantage__container :nth-child(5) {
        margin-right: 10px;
    }
    .advantage__container :nth-child(7) {
        width: 300px;
        height: 86px;
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
        padding-right: 30px;
    }
    .advantage__container :nth-child(7) .advantage__title {
        margin-top: 0;
        text-align: left;
    }
    .advantage__container :nth-child(7) .advantage__description {
        width: auto;
        text-align: left;
    }
    .advantage__item img {
        width: 40px;
        height: 40px;
    }
    .advantage__title {
        font-family: 'Gilroy-SemiBold';
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0em;
        display: block;
        text-align: center;
    }
    .advantage__description {
        font-family: Gilroy;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        width: 129px;
    }
    .how-learning__description {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        width: 276px;
        margin: auto;
    }
    .price__warning {
        width: 100%;
        padding: 5px;
    }
    .price__warning-text {
        width: 300px;
        font-size: 12px;
    }
    .wrapper-ellips {
        display: block;
        position: absolute;
        left: -705px;
        top: -540px;
        text-align: center;
        box-sizing: border-box;
        z-index: -1;
    }
    .code {
        position: absolute;
        top: 90px;
        left: 90px;
        width: 210px;
        height: 210px;
        padding-top: 20px;
        animation-name: large-picture;
        animation-duration: 3s;
    }

/*    .code:hover {
        position: absolute;
        top: 90px;
        left: 90px;
        width: 210px;
        height: 210px;
        padding-top: 20px;
    }*/


    .how-learning__help div:nth-child(2) {
        margin-left: 0;
        padding-top: 54px;
        padding-left: 100px;
        padding-right: 80px;
    }
    .how-learning__help div:nth-child(3) {
        margin-right: 0;
        padding-top: 54px;
        padding-left: 100px;
        padding-right: 80px;
        margin-bottom: 0;
    }
    .how-learning__video-container {
        width: 238px;
        height: 148px;
    }
    .play {
        display: none;
    }
    .how-learning__video-frame {
        width: 228px;
        height: 144px;
        margin: 5px;
    }
    .line {
        width: 290px;
    }
    .line-bottom {
        width: 290px;
        height: 5px;
    }
    #shape {
        display: none;
    }
    iframe {
        width: 228px;
        height: 144px;
    }
    #shadow {
        left: 0;
        width: 320px;
        height: 186px;
        background: rgba(106, 106, 108, 0.38);
        filter: blur(87px);
        margin: auto;
        z-index: -1;
    }
    .how-learning b {
        font-size: 50px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .how-learning__steps {
        display: block;
        width: 300px;
        height: 689px;
        border-radius: 30px;
        padding-top: 36px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

    }
    .how-learning__step {
        width: 260px;
        text-align: left;
        padding: 0;
        margin-bottom: 0;
        padding-right: 60px;
        box-sizing: border-box;
    }
    .how-learning__step-title {
        font-size: 1.25rem;
        line-height: 19px;
        padding-top: 7px;
        padding-bottom: 2px;
    }
    .how-learning__step-description {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0em;
        display: block;
        padding-bottom: 19px;
    }
    #step-two {
        border-top: 1px solid #EAF2F5;
        border-bottom: 1px solid #EAF2F5;
        border-left: 0px solid #EAF2F5;
        border-right: none;
        padding-top: 30px;
    }
    #step-three {
        padding-right: 0px;
        width: 260px;
        padding-top: 30px;
    }
    .how-learning__start-container {
        display: block;
        width: 300px;
        height: 151px;
        border-radius: 30px;
        padding: 11px 25px 22px 26px;
    }
    .how-learning__start-text {
        font-size: 0.8125rem;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    .how-learning-help {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .how-learning__help {
        width: 300px;
        display: block;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .how-learning__item {
        width: 300px;
        height: 243px;
        padding: 34px 48px;
        margin-bottom: 12px;
    }
    .how-learning__help div:nth-child(3) {
        height: 243px;
        padding: 25px 47px;
        margin-bottom: 12px;
    }
    #macbook {
        width: 206px;
        height: 207px;
    }
    .how-learning__help img {
        width: 205px;
        height: 175px;
    }
    .how-learning__title {
        font-size: 1.25rem;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 5px;
    }
    .how-learning__description {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        width: 250px;
    }
    .how-learning__help div:nth-child(4),
    .how-learning__help div:nth-child(2) {
        padding: 30px 20px 20px 20px;
    }
    .price h2 {
        padding-top: 60px;
    }
    .price__container {
        display: block;
    }
    .flex-box {
        display: block;
        box-sizing: border-box;
    }
    .price__container div:nth-child(1),
    .price__container div:nth-child(2),
    .price__container div:nth-child(3) {
        width: 300px;
        padding: 10px;
    }
    .price__image-description {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        height: auto;
    }
    .price__table {
        width: 600px;
        text-align: left;
    }
    .price__warning {
        display: block;
        padding-top: 38px;
        padding: 10px;
        height: 415px;
    }
    .price__warning-text {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        width: 260px;
        height: auto;
        margin: auto;
    }
    .price__warning .button-start {
        width: 257px;
        height: 60px;
        font-size: 0.9375rem;
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        line-height: 22px;
        cursor: pointer;
    }
    .price__warning img {
        margin: 40px 90px 18px 90px;
    }
    footer {
        padding-top: 40px;
    }
    .flex-vertical {
        display: block;
    }
    .flex-footer {
        display: block;
    }
    #flex-yt {
        display: flex;
        text-align: left;
    }
    .footer__list {
        text-align: center;
        margin: 0;
        margin-top: 43px;
    }
    .footer__contacts-list {
        margin-left: 0;
        margin-bottom: 35px;
    }
    .footer__footer {
        display: block;
    }
    .footer__footer p:nth-child(1) {
        margin-right: 0px;
    }
    .footer__footer p:nth-child(2) {
        margin-right: 0px;
    }
    .toggle-button {
        width: 17px;
        height: 14px;
        background: transparent;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        opacity: 50%;
        margin-top: 3px;
        margin-right: 5px;
        display: block;
    }
    .toggle-button:focus {
        outline: none;
    }
    .toggle-button-bar {
        width: 100%;
        height: 2px;
        background: #F15525;
        display: block;
        margin-bottom: 4px;
    }
    .logo-container {
        height: 31px;
        width: 40px;
        margin-right: 0px;
        margin-left: 14px;
    }
    .button-login {
        margin-right: 71px;
        margin-left: 55px;
        cursor: pointer;
    }
    .mobile-nav {
        display: none;
        padding: 0;
        margin: 0;
        width: 80vw;
        height: 90vh;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        top: 14px;
        right: 10px;
        z-index: 100;
        text-align: left;
        padding-left: 31px;
        padding-top: 53px;
        box-sizing: border-box;
    }
    .mobile-nav__items {
        padding: 0;
    }
    .mobile-nav__item {
        list-style: none;
        display: block;
        padding: 0;
    }
    .mobile-nav__item a {
        text-decoration: none;
        font-family: Gilroy;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 40px;
        color: #22253B;
    }
    .mobile-nav__item a:hover {
        cursor: pointer;
        color: #F15525;
    }
    #login {
        width: 133px;
        height: 49px;
        font-size: 0.9375rem;
        padding: 16px 5px 8px 31px;
        margin-top: 150px;
        margin-left: 0px;
    }
    #close {
        position: absolute;
        top: 25px;
        right: 19px;
        cursor: pointer;
    }
    .backdrop {
        z-index: 90;
        position: fixed;
    }
    .modal__question-one {
        display: none;
        padding: 36px 22px 34px 22px;
        background-color: white;
        border-radius: 30px;
        height: 465px;
        width: 300px;
        position: fixed;
        top: 5px;
        left: 50vw;
        margin-left: -150px;
        text-align: center;
        z-index: 300;
        font-weight: bold;
        box-sizing: border-box;
        text-align: left;
    }
    .modal__question-text {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    input {
        width: 14px;
        height: 14px;
    }
    .modal__question-option {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        width: 160px;
    }
    .modal {
        display: none;
        background-color: white;
        border-radius: 30px;
        height: 345px;
        width: 300px;
        position: fixed;
        top: 5px;
        left: 50vw;
        margin-left: -150px;
        text-align: center;
        z-index: 300;
        font-weight: bold;
        padding: 0;
    }
    .modal__title,
    .modal__answer-title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        padding: 40px 40px 13px 40px;
    }
    .modal__text,
    .modal__answer-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        padding: 0px 18px 24px 18px;
    }
    .modal__button {
        width: 191px;
        height: 54px;
        font-size: 0.875rem;
        padding-top: 18px;
    }
    .modal__answer {
        display: none;
        padding: 36px 20px 34px 20px;
        background-color: white;
        border-radius: 30px;
        height: 512px;
        width: 300px;
        position: fixed;
        top: 5px;
        left: 50vw;
        margin-left: -150px;
        text-align: center;
        z-index: 300;
        font-weight: bold;
        box-sizing: border-box;
        text-align: left;
    }
    .modal__answer-text,
    .modal__result-text {
        padding: 0;
    }
    .modal__answer-button {
        width: 132px;
        height: 49px;
        border-radius: 82px;
        background: #F15525;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        color: #fff;
        padding: 16px 22px;
        font-size: 0.9375rem;
        transition: 0.05s;
        margin-bottom: 160px;
        margin: auto;
        text-align: center;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: 50px;
        cursor: pointer;
    }
    .modal__exercise {
        width: 129px;
        height: 41px;
        background: #EAEAEA;
        border-radius: 49px;
        font-family: Gilroy;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        padding: 8px 21px 7px 23px;
        box-sizing: border-box;
        margin: auto;
    }
    .modal__answer-title {
        padding-top: 22px;
    }
    .modal__result {
        display: none;
        background-color: white;
        border-radius: 30px;
        height: 422px;
        width: 300px;
        position: fixed;
        top: 5px;
        left: 50vw;
        margin-left: -150px;
        text-align: center;
        z-index: 300;
        font-weight: bold;
        padding: 8px 21px 7px 23px;
        box-sizing: border-box;
    }
    .main .wrapper::before {
        content: "";
        position: absolute;
        height: 70px;
        width: calc(50% - 120px);
        bottom: -38px;
        left: 0;
        z-index: 6;
        background: #fff;
    }
    .main .wrapper::after {
        content: "";
        position: absolute;
        height: 70px;
        width: calc(50% - 120px);
        bottom: -38px;
        right: 0;
        z-index: 6;
        background: #fff;
    }
    .ell34 {
        display: block;
        box-sizing: border-box;
        width: 250.38px;
        height: 250.38px;
        background: linear-gradient(260.38deg, #FFFFFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(234, 242, 245, 0.3);
        box-shadow: 0px 30px 100px rgba(0, 129, 170, 0.06);
        backdrop-filter: blur(30px);
        border-radius: 50%;
        border: 2px solid;
        border-color: #fff;
        margin: auto;
        margin-top: 74.5px
    }
}
















